/* cyrillic-ext */
@font-face {
  font-family: 'PressStart2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(https://fonts.gstatic.com/s/pressstart2p/v7/e3t4euO8T-267oIAQAu6jDQyK3nYivNm4I81PZQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'PressStart2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(https://fonts.gstatic.com/s/pressstart2p/v7/e3t4euO8T-267oIAQAu6jDQyK3nRivNm4I81PZQ.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'PressStart2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(https://fonts.gstatic.com/s/pressstart2p/v7/e3t4euO8T-267oIAQAu6jDQyK3nWivNm4I81PZQ.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'PressStart2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(https://fonts.gstatic.com/s/pressstart2p/v7/e3t4euO8T-267oIAQAu6jDQyK3nbivNm4I81PZQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PressStart2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(https://fonts.gstatic.com/s/pressstart2p/v7/e3t4euO8T-267oIAQAu6jDQyK3nVivNm4I81.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}*{
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px;
  margin: 0px;
}
.gameLogo{
  width: 100px;
}
.option{
  margin: 15px 0px;
}
h1.gameTitle{
  font-family: 'PressStart2P', cursive;
}
p{
  font-family: monospace;
  color: #888;
}
a.color{
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 10px 5px;
  text-decoration: none;
  line-height: 40px;
}
a.color.black{
  background: #000;
  color: #000;
}
a.color.green{
  background: #03c14d;
  color: #03c14d;
}
a.color.blue{
  background: #6a5cff;
  color: #6a5cff;
}
a.color.red{
  background: #ff4747;
  color: #ff4747;
}
a#activeColor{
  color: #fff !important;
}
a i{
  pointer-events: none;
}
input#player1Name{
  padding: 15px;
  border: 1px solid #ccc;
  outline: 0px;
  width: 250px;

}
canvas{
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
}
.playBtn{
  display: block;
  background: #00c14d;
  width: 250px;
  height: 40px;
  line-height: 40px;
  margin: 10px auto;
  color: #fff;
  text-decoration: none;
  font-family: 'PressStart2P', cursive;
}
.playBtn img{
  height: 20px;
}
.clear{
  clear: both;
}
#ballSpeed{
  display: block;
  margin: 15px auto;
}
